<header>
    <div class="visiblefont">
        <h1>trav<span class="shadow">ifer</span></h1>
    </div>
    <div class="transparentfont">
            <ul>
                <li>discover</li>
                <li>book</li>
                <li>experience</li>
            </ul>
    </div>
</header>
<section>

    <div class="teaserimg">
        <img src="../../assets/exxplore.jpg">
    </div>

    <div class="description">
        <h1>NEED A BREAK FROM REALITY?</h1>
        <p>
            – <b>discover</b> flights to some of the interesting locations<br>
            – <b>book</b> your perfect flight with our flight system<br>
            – <b>experience</b> some parts of the world that you did'nt know they exist
        </p>

        <h1>WHY ARE YOU WAITING?
            <a class="button" routerLink="/products" target="_blank" rel="nofollow">
                <span>FLIGHTS</span>
            </a>
        </h1>
    </div>


    <div class="description">
        <h1>FOUND THE RIGHT DESTINATION – BOOK IT </h1>
        <p>
            – pay with credit card<br><br>
            – safe for scams<br><br>
            – chanceling your flight when your afraid?<br><br>
            – – up to 3 days before your journey would start<br>
            – – get your money back in one week
        </p>
    </div>

    <div class="teaserimg">
        <img src="../../assets/booking.jpg">
    </div>


    <div class="teaserimg">
        <img src="../../assets/sand.jpg">
    </div>

    <div class="description">
        <h1>
            <b>DISCOVERD</b> &#x2713;<br>
            <b>BOOKED</b> &#x2713;<br>
            <b>EXPERIENCE</b> COMMING SOON
        </h1>

        <h1>LOOK THROUGH OUR BLOG TO GET SOME FIRST EXPRESSIONS</h1>
            <a class="button" routerLink="/blog" target="_blank" rel="nofollow">
                <span>TO OUR BLOGPOSTS</span>
            </a>
    </div>


    <div class="description">
        <h1>SHARE YOUR INSTAGRAM POST AND WIN -40% OF YOUR NEXT FLIGHT</h1>
    </div>

    <div class="teaserimg">
        <img src="../../assets/share.jpg">
    </div>

</section>