<div class="container">
  <h2>FLIGHTS</h2>
  <div class="productcontainer">
    <div class="product" *ngFor="let product of products; index as productId">
        <div [routerLink]="['/products', productId]" class="changecursor">
          <img src="{{ product.img }}">
        
          <h3>
            {{ product.destination }}
          </h3>
        </div>
          <p *ngIf="product.description">
            <i class="fa">&#xf133;</i> {{ product.startdate }}<br>
            <i class="fa">&#xf017;</i> {{ product.duration }}<br>
            <i class="fa">&#xf0d6;</i> {{ product.price | currency }}<br><br>
            {{ product.description }}
          </p>

      
    </div>
  </div>
</div>

